/* stylelint-disable */
/* header and nav layout */
/*hiding it for now */
.header-container .default-content-wrapper {
  display: none;
}

.header {
  clear: both;
}

.header picture {
  float: left;
  width: 166px;
}

.header ul{
  float: right;
  margin: 0;
  padding: 0;
}

.header ul li{ 
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
} 

.header ul li a{ 
  padding: 15px 17px;
  text-decoration: none;
}

.header ul li a:hover{
  background-color: var(--brandPrimary,#ffea00);
}

#faqs {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
